@media (min-width: 768px) {
  body {
    max-width: var(--desktop-max-width);
    margin: auto;
  }
  .container__content {
    width: 50%;
    margin: auto;
    margin-top: 5rem;
    border-radius: 1.5rem;
  }

  .container__header > .container__img > img {
    display: block;
    width: 100%;
    margin: auto;
    padding: 2rem;
    border-radius: 3rem;
  }
}
